@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --animate-marquee: marquee var(--duration, 20s) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration, 20s) linear infinite;

    @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(calc(-100% - var(--gap, 1rem))); }
    }
    
    @keyframes marquee-vertical {
        from { transform: translateY(0); }
        to { transform: translateY(calc(-100% - var(--gap, 1rem))); }
    }
}

body {
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.c-space {
    @apply sm:px-1 px-5 lg:px-15;
}

.section-spacing {
  @apply mt-8 md:mt-14;
}

.nav-ul {
  @apply flex flex-col items-center gap-2 sm:flex-row md:gap-10 relative z-20 w-full;
}

.nav-li {
  @apply text-neutral-200 hover:text-white font-semibold max-sm:w-full max-sm:rounded-md py-2 max-sm:px-2 text-center;
}

.nav-link {
  @apply text-xl sm:text-lg md:text-base hover:text-white transition-colors block w-full;
}

/* Login */
.slide-bg {
    transition: opacity 1s ease-in-out;
}

/* Pastikan input autofill browser tidak merusak background transparan */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}